# ==========================
# Build
# ==========================
**/bin/
**/obj/
build/

# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================
# Rider
# ==========================
.idea/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Test
# ==========================
TestResults/

# ==========================
# NuGet
# ==========================
packages/

# Uploaded files
**/App_Data/

# Respaldos locales de migraciones dañadas
*.corrupto.bak
